#left-nav {
	float: left;
}
#right-nav {
	float: right;
}
#header-img {
	width: 30px;
}
main {
	padding: 200px;
}
#img-main {
	width: 300px;
}
input {
	width: 400px;
}
#footer-left {
	float: left;
}
#footer-right {
	float: right;
}